/logs
/logs_val
/logs/testing-1
/.idea
logs/**
logs_val/*
logs/testing-1/**
.idea/**
/.ipynb_checkpoints
tf_model/**
/tf_model/
/tf_model_600/
/tf_model_lstm_embedding/
/model_lstm_embedding/
/model_bidirectional_embedding/
/model_600/
/model
/model_151/
